.wrapper {
    /* Variables */
    --top-padding: 56px;
    --bottom-padding: 56px;

    background: linear-gradient(290deg, rgba(214, 230, 254, 0.17) 0%, rgba(214, 252, 254, 0) 100%);

    padding: var(--top-padding) var(--right-padding) var(--bottom-padding) var(--left-padding);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (550px <= width) {
    .wrapper {
        /* Variable */
        --top-padding: 60px;
        --bottom-padding: 60px;
    }
}
