.wrapper {
    margin-top: calc(-241px);

    & fieldset {
        border: none;
        padding: 0;
    }

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
        display: none;
        /* margin: 0; */
    }

    & input {
        appearance: textfield;
    }
}
