.wrapper {
    padding: 24px;
    border-radius: 16px;
    background: var(--white);
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);

    & h3 {
        font-size: 1.25rem;
        letter-spacing: -1px;
        text-transform: capitalize;
    }

    & header {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }
}

/* 
    Tablet
*/

@media (600px <= width) {
    .wrapper {
        flex: 1 1 335.5px;
        max-width: 365px;
        padding: 32px;
    }
}
