/*
    CSS Reset (inspired by Josh Comeau's: https://www.joshwcomeau.com/css/custom-css-reset/)
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*
    Variables
*/
:root {
    --blue: #345ff6;
    --gunmetal: #253347;
    --dark-electric-blue: #5e6e85;
    --white: #ffffff;

    --left-padding: 19px;
    --right-padding: 29px;
    --content-width: 1160px;
}

/* Tablet */
@media (550px <= width) {
    :root {
        --left-padding: 39px;
        --right-padding: 43px;
    }
}

/*
    Typography
*/

body {
    color: var(--dark-electric-blue);
}

h1,
h2,
h3 {
    color: var(--gunmetal);
    font-weight: 600;
    line-height: 1.1;
}

h1 {
    font-size: 3rem;
    letter-spacing: -2.4px;
}

h2 {
    font-size: 2rem;
    letter-spacing: -1.6px;
}

@media (1200px <= width) {
    h1 {
        font-size: 4rem;
        letter-spacing: -3.2px;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: -2.4px;
    }
}

/*
    Layout
*/
main {
    width: min(100%, 1392px);
    margin-inline: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;

    padding-bottom: 96px;
}

/* Tablet */
@media (550px <= width) {
    main {
        gap: 96px;
    }
}

/* Desktop */
@media (1200px <= width) {
    main {
        gap: 120px;
        padding-bottom: 120px;
    }
}
