.wrapper {
    & .manEating {
        width: 100%;
        height: auto;
        margin-bottom: 48px;
    }
}

.content {
    margin-inline: 24px;

    & h2 {
        margin-bottom: 32px;
    }
}

.curve {
    display: none;
}

@media (550px <= width) {
    .wrapper {
        display: flex;
        align-items: center;
        gap: 75px;

        position: relative;
        left: -42px;

        & .manEating {
            width: 361px;
            height: 411px;
            object-fit: cover;
            margin-bottom: 0;
        }
    }

    .content {
        margin-inline: 0;
    }
}

@media (1200px <= width) {
    .wrapper {
        width: 1160px;
        left: 0;
        align-items: flex-end;
        gap: 131px;
        margin-top: -55px;

        & .manEating {
            width: 564px;
            height: auto;
        }
    }

    .content {
        margin-bottom: 40px;
    }

    .curve {
        display: unset;
        position: absolute;

        right: 0;
        top: -52px;
    }
}
