.wrapper {
    margin: 72px 29px 96px 19px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    & h2 {
        margin-bottom: 16px;
    }

    & > p {
        margin-bottom: 40px;
    }

    & h2,
    & > p {
        text-align: center;
    }
}
